{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "chrome > 30",
                        "ie >= 10"
                    ]
                }
            }
        ],
        "stage-2"
    ],
    "plugins": [
        [
            "component",
            [
                {
                    "libraryName": "meetin-sass-ui",
                    "styleLibraryName": "~src/entries/pc/styles/el-theme"
                },
                {
                    "libraryName": "meetin-components",
                    "styleLibraryName": "~src/entries/pc/styles/style"
                },
                {
                    "libraryName": "mint-ui",
                    "style": true
                }
            ]
        ],
        "transform-runtime"
    ],
    "env": {
        "test": {
            "presets": [
                "env",
                "stage-2"
            ],
            "plugins": [
                "istanbul"
            ]
        }
    }
}
